<div class="wrapper">
  <img src="./assets/images/background.png" class="back">
  <div class="header">
    <img src="./assets/images/logo.png" class="logo">
  </div>
  <div class="body"></div>
  <div class="footer">
    <div class="menu">
      <a href="https://twitter.com/warqube" target="_blank" class="item">Twitter</a>
      <a href="https://warqube.com" target="_blank" class="item">website</a>
      <a href="https://t.me/warqube_community" target="_blank" class="item">telegram</a>
      <a href="https://discord.gg/RX3KnZhENZ" target="_blank" class="item">discord</a>
    </div>
  </div>
</div>