<div class="wrapper">
  <div class="header">
    <img [src]="isMobile ? './assets/images/logo-mob.png' : './assets/images/logo.png'" class="logo">
  </div>
  <div class="body">
    <div class="content">
      <div class="slider">
        <img src="./assets/images/nfts/image1.png" class="nonVisibleSlide">
        <div class="slide" *ngFor="let slide of slides" [ngStyle]="{background: 'url('+slide.image+')'}" [ngClass]="slide.active ? 'active' : ''"></div>
      </div>
      <div class="info">
        <ng-container *ngIf="isMobile">
          <div class="bottom-text" style="margin-bottom: 15px;" (click)="infoOpen = !infoOpen">
            <div class="bottom-text-after">
              <p>GENESIS NFT INFO</p>
              <img src="./assets/images/arrow.png" class="arrow" [ngClass]="{'close': !infoOpen}">
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="infoOpen">
          <div class="text">WarQube Genesis NFT Collection consist of 2500 randomly generated exclusive NFT avatars of the main game character. Owners will have access to a wide range of additional gaming and earning rewards.</div>
          <div class="text">It will be possible to get all the benefits and play in one of the expected Play-To-Earn games with a unique combination of Tower Defense, Isometric Shooter and MOBA genres already in 2023.</div>
        </ng-container>
        

        <div class="container">
          <div class="bottom-text">
            <div class="bottom-text-after">
              <p>look more at</p>
            </div>
          </div>
          <img src="./assets/svg/openSea.svg" class="opensea">
        </div>

        <div class="container-progress">
          <div class="progress-bar">
            <div class="top">
              <div class="left text text-blue">
                <p>Total minted</p>
              </div>
              <div class="right">
                <div class="percent text text-white"><p>{{percent}}%</p></div>
                <div class="mintInfo text text-blue"><p>{{mintCount}}/{{maxMint}}</p></div>
              </div>
            </div>
            <div class="bottom">
              <div class="line">
                <div class="inner" [ngStyle]="{'width': percent + '%'}"></div>
              </div>
            </div>
          </div>
          
          <div class="primary-btn desc">Mint now</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="menu">
      <a href="https://twitter.com/warqube" target="_blank" class="item">Twitter</a>
      <a href="https://warqube.com" target="_blank" class="item">website</a>
      <a href="https://t.me/warqube_community" target="_blank" class="item">telegram</a>
      <a href="https://discord.gg/RX3KnZhENZ" target="_blank" class="item">discord</a>
    </div>

    <div class="socials">
      <app-socials></app-socials>
    </div>
  </div>
</div>