@import '~src/assets/fonts/orbitron/orbitronFont.scss';
@import '~src/assets/fonts/manrope/manropeFont.scss';

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #001428;
  font-size: 14px;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  min-height: 15%;
  border-radius: 10px;
  background: transparent;
  opacity: 0;
}

::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

::-moz-scrollbar-track {
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  border-radius: 10px;
  background: transparent;
  opacity: 0;
}